/* 
    colors 
    navajo white -- hsl(35, 80%, 82%)
    charcoal -- hsl(214, 31%, 26%)
    indigo dye -- hsl(211, 87%, 25%)
    cerise -- hsl(345, 67%, 55%)
    orange yellow - hsl(47, 87%, 66%)
 */ 

body{
    background-image: linear-gradient(hsl(35, 80%, 82%), hsl(214, 31%, 26%));
    background-size: 100vh 100vw;
}

.App{
    display: flex;
    flex-direction: column;
}

.page-display{
    display: flex;
    height: 90vh;
}


.event-container{
    display: flex;
    height: 100%;
}

.fc{
    width: 70%;
    /* margin: 20px; */
    background-color: hsl(211, 87%, 25%);
    color: hsl(35, 80%, 82%);
}