/* 
    colors 
    navajo white -- hsl(35, 80%, 82%)
    charcoal -- hsl(214, 31%, 26%)
    indigo dye -- hsl(211, 87%, 25%)
    cerise -- hsl(345, 67%, 55%)
    orange yellow - hsl(47, 87%, 66%)

    font-family: 'Bungee', cursive;
    font-family: 'Roboto', sans-serif;
 */ 

 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Roboto&display=swap');

body{

    background-size: 100vh 100vw;
    font-family: 'Roboto', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Bungee', cursive;
}

.page-display{
    display: flex;
    height: 90vh;
}


.event-container{
    display: flex;
    height: 100%;
}

.fc{
    width: 70%;
    padding: 65px 0;
    padding-left: 65px;
    border: none;
}

.fc-theme-standard .fc-scrollgrid {
    border: none !important;
    border: none !important; 
}

/* .fc-theme-standard td, .fc-theme-standard th {
    border: none !important;
    border: none !important;
} */

.fc-daygrid-day{
    transition: all ease 0.2s;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px hsl(220, 5%, 78%); */
}

.fc-daygrid-day:hover {
    box-shadow: 5px 5px 15px hsl(214, 31%, 26%);
}

/* td{
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 1px 1px 1px hsl(220, 5%, 78%);
}

 td:hover {
    box-shadow: 5px 5px 15px hsl(214, 31%, 26%);
} */

.fc-toolbar-title{
    font-family: 'Bungee', cursive;
}

button{
    width: max-content;
    border-radius: 1rem;
    padding: 15px;
    background-color: hsl(211, 87%, 25%);
    color: hsl(35, 0%, 100%);
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

